@import "../theme/theme.less";

//******************************************* 页尾导航 ****************************************/
//文本顔色
.vv-text--wx {
  color: @color-wx;
}

.vv-text--ali {
  color: @color-ali;
}

.vv-text--card {
  color: @color-card;
}

.vv-text--union {
  color: @color-union;
}
//背景顔色
.vv-bg--card {
  background-color: @color-card;
}

.vv-bg--wx {
  background-color: @color-wx;
}

.vv-bg--ali {
  background-color: @color-ali;
}

.vv-bg--union {
  background-color: @color-union;
}

//遮罩层
.vv-mask {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.vv-pay__body--outer {
  width: 100%;
  max-width: 480px;
  margin: 0 auto;
}

.vv-pay__body--inner.ali {
  box-shadow: 0 0 10px fade(@color-ali, 30);
  border-radius: 10px;
}

.vv-pay__content.ali {
  box-shadow: 0 0 10px fade(@color-ali, 30);
  border-radius: 10px;
}

.vv-pay__body--inner.wx {
  box-shadow: 0 0 10px fade(@color-wx, 30);
  border-radius: 10px;
}

.vv-pay__content.wx {
  box-shadow: 0 0 10px fade(@color-wx, 30);
  border-radius: 10px;
}

.vv-pay__body--inner.card {
  box-shadow: 0 0 10px fade(@color-card, 30);
  border-radius: 10px;
}

.vv-pay__content.card {
  box-shadow: 0 0 10px fade(@color-card, 30);
  border-radius: 10px;
}

.vv-pay__body--inner.union {
  box-shadow: 0 0 10px fade(@color-union, 30);
  border-radius: 10px;
}

.vv-pay__content.union {
  box-shadow: 0 0 10px fade(@color-union, 30);
  border-radius: 10px;
}

.vv-page {
  width: 100%;
  margin: 0 auto;
  position: relative;
  background-color: #fff;
}
.vv-page.is-cover-hor {
  height: 100vh;
}
.vv-page.is-side-header {
  padding-top: 24px;
}
.vv-page.is-side-footer {
  padding-bottom: 54px;
}

.vv-page-wrap {
  height: 100%;
  overflow: auto;
  padding: 20px;
}
.vv-page-body {
  min-height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.vv-page-content {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
  background-color: #fff;
}
.vv-page-content.is-card {
  box-shadow: 0 0 10px fade(@color-card, 30);
}

.vv-page-content--inner.is-card {
  box-shadow: 0 0 10px fade(@color-card, 30);
  border-radius: 10px;
  padding: 10px;
}

.vv-page-content.is-wx {
  box-shadow: 0 0 10px fade(@color-wx, 30);
}

.vv-page-content--inner.is-wx {
  box-shadow: 0 0 10px fade(@color-wx, 30);
  border-radius: 10px;
  padding: 10px;
}

.vv-page-content.is-ali {
  box-shadow: 0 0 10px fade(@color-ali, 30);
}

.vv-page-content--inner.is-ali {
  box-shadow: 0 0 10px fade(@color-ali, 30);
  border-radius: 10px;
  padding: 10px;
}

.vv-page-content.is-union {
  box-shadow: 0 0 10px fade(@color-union, 30);
}

.vv-page-content--inner.is-union {
  box-shadow: 0 0 10px fade(@color-union, 30);
  border-radius: 10px;
  padding: 10px;
}

.vv-page--cover {
  height: 100vh;
  background: #fff;
}

.vv-icon__outer {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.vv-icon {
  display: inline-block;
  width: 44px;
  height: 28px;
  background-size: auto 28px;
}

.vv-icon.vv-icon--money {
  background-image: url("../../images/icon-money.png");
  background-repeat: no-repeat;
}

.vv-side {
  position: absolute;
  z-index: 99;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;
  box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.05);
  display: flex;
  justify-content: flex-end;
}

.vv-side-item {
  text-align: center;
  height: 54px;
  display: flex;
  align-items: center;
  padding: 0 5px;
}
.vv-side-item.is-grow {
  flex: 1;
}

.vv-side-header {
  height: 24px;
  position: absolute;
  z-index: 99;
  top: 0;
  left: 0;
  right: 0;
}

.vv-side-header.is-title {
  line-height: 24px;
  text-align: center;
}
